.DS_Store
.gitignore
node_modules
public
prof
tsconfig.tsbuildinfo
.obsidian/plugins
.obsidian/*.json
tes3cs-content/.obsidian/!snippets
tes3cs-content/.obsidian/plugins
tes3cs-content/.obsidian/*.json
.quartz-cache
private/
.replit
replit.nix
